{% extends 'dashboardAdmin.html.twig' %}
{% block title %} Dashborad | Contact {% endblock %}

{% block body %}
    <div class="col" >
        <div class="card">
            <div class="card-body pt-3">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <h3>Contact Us </h3>
                    <br>
                    <h3>This is our Social Media </h3>
                    <br>
                    <a href="www.facebook.com" >Facebook</a>
                    <br>
                    <a href="www.facebook.com" >Linkdin</a>
                    <br>
                    <a href="www.Instagram.com">Instagram</a>
                    <br>
                    <a href="https://api.whatsapp.com/send?phone=+21623432040&text=Bonjour,%20j%27ai%20une%20question...">Whatsapp</a>
                <br>
                </div>
            </div>
        </div>
    </div>

</div>




{% endblock %}